form {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.addComment{
  background: #FFA640;
  letter-spacing: 4.2px;
  border-radius: 100px;
  border: none;
  color: white;
  width: 100%;
  height: 46px;
  margin-top: 10px;
  outline: none;
  font-weight: bold;
}
.commentInput{
  border: hidden;
  color: #8298B9;
  font-size: 18px;
}
.line-horizontal-add-comment{
  border-bottom: 2px solid #DBE0E8;
  margin: 0;
  padding: 0;
  line-height: 0;
}
@media only screen and (min-width : 499px) {
  .addComment{
    width: 150px;
    float: left;
    margin-bottom: 10px;
  }