@media only screen and (min-width : 499px) {
  .container{
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
    padding: 0;
    min-width: 499px;
    height: 743px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: -40px;
  }

  .profile-picture-div{
    width: 70px;
    height: 70px;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .profile-info{  
    left: 2%;
    right: 2%;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
    position: absolute;
    top: 43px;
    z-index: 0;
    margin: 0;
    padding: 0;
  }

  .top-strip{
    background: #002C71;
    border-radius: 5px 5px 0 0;
    height: 95px;
    z-index: -1;
    width: 100%;
    margin: 0;
  }

  .profile-user-full-name{
    color: #002C71;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    left: 105px;
    top: 30px;
  }

  .heart{
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
  }

  .profile-user-location{
    color: #8298B9;
    font-size: 12px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 105px;
    top: 60px;
    line-height: 0;
  }

  .line{
    display: inline-block;
    border-left: solid #979797;
    height: 38px;
    opacity: 0.1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .orange-number-left{
    display: inline-block;
    font-size: 24px;
    color: #FFA640;
    margin-bottom: 0;
    margin-top: 105px;
    margin-left: 25px;
    padding: 0;
    
  }
  .orange-number-middle{
    display: inline-block;
    font-size: 24px;
    color: #FFA640;
    margin-bottom: 0;
    margin-top: 30px;

  }
  .orange-number-right{
    display: inline-block;
    font-size: 24px;
    color: #FFA640;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 0;
  }

  .likes-text{
    font-size:10px;
    color: #8298B9;
    margin-top: 0;
    padding-bottom: 10px;
    line-height: 0;
  }
  .button-follow{
    background: white;
    letter-spacing: 4.2px;
    border-radius: 100px;
    border: solid 1px #FFA640;
    color: #FFA640;
    font-weight: bold;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    position: absolute;
    top: 103px;
    left: 280px;
  }
  .button-follow:hover{
    background: #ffe0bc;
  }
  .button-following{
    background: #FFA640;
    letter-spacing: 4.2px;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: bold;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    position: absolute;
    top: 103px;
    left: 280px;
  }
  .button-following:hover{
    /* background: red; */
  }
  .comments{
    left: 2%;
    right: 2%;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    border-radius: 5px;
    position: absolute;
    top: 215px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 5px;
  }

  .users-list li {
    cursor: pointer;
  }

  .hide-comments{
    font-size: 14px;
    color: #FFA640;
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    display: inline-block;
    text-decoration: underline;
  }

  .line-horizontal{
    
    border-bottom: solid #979797;
    height: 1px;
    opacity: 0.1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .share{
    color: #FFA640;
    font-size: 15px;
    position:absolute;
    top:10px;
    right:12px;
    z-index: 2;
    cursor: pointer;
  }
  .activec{
    background: #f7f7f7;
    border-radius: 5px;
  }
  .date-diff{
    opacity: 0.5;
    font-size: 14px;
    color: #002C71;
    letter-spacing: 0;
    float: right;
    margin-right: 10px;
  }
}

.share-url {
  font-size: 12px;
}

.share-link {
  font-size: 12px;
  padding: 5px;
  width:200px;
  margin-right: 5px;
}

.copy-url {
  margin-bottom: 5px;
}

.copy-link {
  text-decoration: underline;
  cursor: pointer;
}

.comment-author-picture-div{
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 7px;
  margin-right: 10px;
  margin-top: -10px;
}

.comment-author-picture{
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
}

.comment-author-name{
  color: #002C71;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  padding-bottom: 0;
}

.comment-text{
  text-align: left;
  margin-left: 45px;
  clear: both;
  margin-left: 58px;
  margin-right: 20px;
  margin-top: 0;
  padding-top: 0;
  text-align: justify;
  text-justify: inter-word;
}

.comments-list{
  overflow-y: auto;
  height: 450px;
  width: 100%;
  padding-top: 10px;
  border: none;
}

.comments-list-item{
  width: 100%;
  margin: 0;
  border: none;
}

.comment-formx{
  margin-top: -10px;
  text-align: center;
}

.toggle-comments{
  cursor: pointer;
}

.profile-picture{
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}