<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script>
  document.write('<base href="' + document.location + '" />');
</script>
<script src="./app.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">
  
  <div class="top-strip"></div>
  <div class="profile-info">
    <div class="profile-picture">
    <img style="max-width: 100%; max-height: 100%;border-radius: 100%;" src="./app/users/harv.png">
  </div>
    <div class="profile-user-full-name">Harvey Specter<div class="heart" ng-controller="ExampleController">
      <input id="toggle-heart" type="checkbox" ng-model="confirmed" (click)="liker()"/>
      <label for="toggle-heart">❤</label>
    </div></div>
    
    <div class="profile-user-location">New York, USA</div>
    <div class="share" placement="left"  container="profile-info"
        ngbPopover="{{currentURL}}" popoverTitle="Share"><i class="fa fa-share-square-o" aria-hidden="true" ></i></div>
    <div class="orange-number-left">
      {{likes}}
      <div class="likes-text">Likes</div>
    </div>
    <div class="line"></div>
    <div class="orange-number-middle">
    723
    <div class="likes-text">Following</div>
    </div>
    <div class="line"></div>
    <div class="orange-number-right">
      {{followers}}
      <div class="likes-text">Followers</div>
    </div>
      <button id="follow" class="button-follow" (click)="follow()">
        {{followStr}}
      </button>
  </div>
  
  <div *ngIf="!commentsVisible" class="comments">
    <div class="hide-comments" (click)="toggleComments()"><span style="cursor: pointer;">Show comments ({{users.length}})</span></div>
  </div>
  <div *ngIf="commentsVisible" class="comments">
    <div class="hide-comments" (click)="toggleComments()"><span style="cursor: pointer;">Hide comments ({{users.length}})</span></div>
    
    <div *ngIf="users">
      <ul class="list-group users-list" style="overflow-y: auto; height: 450px; width: 100%; padding-top: 10px; border: none;">
        <li class="list-group-item " style="width: 100%; margin: 0; border: none;" 
          *ngFor="let user of users">

          <div style="height: 40px; width: 40px; float: left; margin-left: 7px; margin-right: 10px;margin-top: -10px;"><img style="max-width: 100%; max-height: 100%;border-radius: 100%;" src="./app/users/harv.png"></div>

          <div style="color: #002C71; font-size: 14px; text-align: left; margin-bottom: 0; display: inline-block; float: left;padding-bottom: 0;">{{ user.name }}
          </div> 

          <div style="text-align: left; margin-left: 45px;clear: both; margin-left: 58px; margin-right: 20px; margin-top: 0; padding-top: 0;">{{ user.username }}</div><div class="line-horizontal">
          </div>

        </li>
      </ul>
    </div>
    <div style="margin-top: -10px; text-align: center;"> <user-form (userCreated)="onUserCreated($event)"></user-form></div>
  
  </div>
</div>
