<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">

  <div class="top-strip"></div>
<!-- User Profile -->
  <div class="profile-info">
    <div class="profile-picture-div">
      <!-- <img class="profile-picture" src="./app/users/harv.png"> -->
      <img src="./app/users/harv.png" class="img-responsive img-circle profile-picture">
    </div>
    <div class="profile-user-full-name">
      {{name}}
      <div class="heart" ng-controller="ExampleController">
        <input id="toggle-heart" type="checkbox" ng-model="confirmed" (click)="liker()"/>
        <label for="toggle-heart">❤</label>
      </div>
    </div>
    <div class="profile-user-location">{{location}}</div>
    <div class="share" >
      <i placement="left"  container="profile-info"
        ngbPopover="{{currentURL}}" popoverTitle="Share" class="fa fa-share-square-o" aria-hidden="true">
      </i>
    </div>
    <div class="orange-number-left">
      {{likes}}
      <div class="likes-text">Likes</div>
    </div>
    <div class="line"></div>
    <div class="orange-number-middle">
      {{following}}
      <div class="likes-text">Following</div>
    </div>
    <div class="line"></div>
    <div class="orange-number-right">
      {{followers}}
      <div class="likes-text">Followers</div>
    </div>
    <button *ngIf="alreadyFollowing" class="button-following" (click)="follow()">
      FOLLOWING
    </button>
    <button *ngIf="!alreadyFollowing" class="button-follow" (click)="follow()">
      FOLLOW
    </button>
  </div>
  <!-- Comments -->
  <div *ngIf="!commentsVisible" class="comments">
    <div class="hide-comments" (click)="toggleComments()">
      <span class="toggle-comments">Show comments ({{comments.length}})</span>
    </div>
  </div>
  <div *ngIf="commentsVisible" class="comments">
    <div class="hide-comments" (click)="toggleComments()">
      <span class="toggle-comments">Hide comments ({{comments.length}})</span>
    </div>
    <div *ngIf="comments">
      <ul class="list-group users-list custom-scrollbar comments-list">
        <li class="list-group-item comments-list-item" *ngFor="let comment of comments"
          (click)="selectComment(comment)" [class.activec]="comment===activeComment">
          <div class="comment-author-picture-div">
            <img class="comment-author-picture" src="./app/users/harv.png">
          </div>
          <div class="comment-author-name">{{ comment.username }}</div> 
          <div class="date-diff">{{ showDateDiff(comment.date) }}</div> 
          <div class="comment-text">{{ comment.comment }}</div>
          <div class="line-horizontal"></div>
        </li>
      </ul>
    </div>
    <div class="comment-formx">
      <comment-form (commentCreated)="onCommentCreated($event)"></comment-form>
    </div>
  </div>
</div>