<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">

  <div (click)="selectCommentInput()" [ngClass]="{ 'has-error': username.invalid && username.touched }" class="form-group" >
    <input type="text" class="form-control commentInput" name="username" placeholder="Add a comment" required [(ngModel)]="newUser.username" #username="ngModel">
    <div class="line-horizontal-add-comment"></div>
    <span class="help-block" style="text-align: left"
      *ngIf="username.invalid && username.touched">
      Comment can't be empty.
    </span>
  </div>

  <div *ngIf="commentInputSelected" (click)="selectCommentUserName()" class="form-group" [ngClass]="{ 'has-error': name.invalid && name.touched }">
    <input type="text" class="form-control commentInput" name="name" placeholder="What's your name?" required [(ngModel)]="newUser.name" #name="ngModel">
    <div class="line-horizontal-add-comment"></div>
    <span class="help-block" style="text-align: left" *ngIf="name.invalid && name.touched">
      Name is required.
    </span>
  </div>

  <button *ngIf="commentUserNameSelected" type="submit" class="addComment" [disabled]="form.invalid">
    ADD
  </button>

</form>